.wp_syntax {
	margin          : 0 0 1.5em 0;
	overflow        : auto;
}

/* IE FIX */
.wp_syntax {
	overflow-x    : auto;
	overflow-y    : hidden;
	padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 15 : 0);
	width         : 99%;
}

/* potential overrides for other styles */
.wp_syntax pre {
	float                : none !important;
	clear                : none !important;
	overflow             : visible !important;
	line-height          : 16px !important;
	-moz-box-shadow      : 0px 0px 0px rgba(0, 0, 0, 0) !important; /* FF3.5+ */
	-webkit-box-shadow   : 0px 0px 0px rgba(0, 0, 0, 0) !important; /* Saf3.0+, Chrome */
	box-shadow           : 0px 0px 0px rgba(0, 0, 0, 0) !important; /* Opera 10.5, IE 9.0 */
	word-wrap: break-word;
}